{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<h1 class="m-2">{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change m-3 highlight">
    {% csrf_token %}
    <div class="text-white">
        <label for="id_oldpassword">Current Password:</label>
        {{ form.oldpassword }}
        <div class="my-2">
            <label for="id_password1">New Password:</label>
            {{ form.password1 }}
        </div>
        {{ form.password1.help_text|safe }}
        <label for="id_password2">New Password (again):</label>
        {{ form.password2 }}
    </div>
    <button type="submit" name="action" class="btn btn-primary ms-9 my-2">{% trans "Change Password" %}</button>
</form>
{% endblock content %}