@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: url("../images/moon-stars-unsplash.jpg") repeat center center/cover;
    font-family: 'Space Mono', sans-serif;
}

h1,
h2,
h3,
p,
summary {
    color: white;
}

label[for=id_due_by] {
    margin-left: 1.9rem;
}

.addtask {
    height: 30px;
    min-width: 87px;
    @media (max-width: 504px) {
        margin-top: 1.45rem;
        margin-right: 11rem;
    }
}

.rocket {
    box-shadow: 0 -19px 18px -8px rgba(0, 0, 0, 0.7) inset;
    background-color: white;
}

.flame {
    height: 100%;
}

.orange {
    background-color: orangered;
}

.yellow {
    background-color: gold;
    padding-left: 40%;
}

.white {
    background-color: white;
    padding-left: 60%;
}

.blue {
    background-color: slateblue;
}