{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->

<h1>Lunar Lists</h1>
<h2>Account settings</h2>
{% if user.is_authenticated %}
<a href="{% url 'account_email' %}" class="btn btn-primary">Change email address</a>
<a href="{% url 'account_change_password' %}" class="btn btn-primary">Change password</a>
<form action="{% url 'delete_user' user.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>
{% endif %}

<!-- index.html content ends here -->
{% endblock %}