{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<h1 class="m-2">Account settings</h1>
{% if user.is_authenticated %}
<div class="d-inline-flex flex-column ms-3">
    <a href="{% url 'account_email' %}" class="btn btn-primary m-2">Change email address</a>
    <a href="{% url 'account_change_password' %}" class="btn btn-primary m-2">Change password</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete Account
    </button>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete account?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account? <br> This cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{% url 'delete_user' user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Account</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}