{% extends 'base.html' %}

{% block content %}
    <h1>{{ list.list_name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ task_form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Add task</button>
    </form>
    {% if tasks %}
        {% for task in tasks %}
            <div class="border border-primary rounded-end-circle p-3 m-3">{{ task.task_description }}</div>
        {% endfor %}
    {% else %}
        <p>No tasks found for this list.</p>
    {% endif %}
{% endblock %}