{% extends 'base.html' %}

{% block content %}
    <h1>{{ list.list_name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ task_form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Add task</button>
    </form>
    {% if tasks %}
    {% if user.is_authenticated %}
        {% for task in tasks %}
            <div class="d-inline-block border border-primary rounded-end-5 p-3 m-3">{{ task.task_description }}</div>
            <form method="POST" action="{% url 'task_delete' list_id=list.id task_id=task.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Task</button>
            </form>
            <a href="{% url 'edit_task' list_id=list.id task_id=task.id %}" class="btn btn-warning">Edit Task</a>
            <br>
            {% endfor %}
    {% endif %}
    {% else %}
        <p>No tasks found for this list.</p>
    {% endif %}
{% endblock %}