{% extends 'base.html' %}

{% block content %}
    <div class="d-flex">
        <h1 class="m-2">{{ list.list_name }}</h1>
        <a href="{% url 'list_view' %}" class="btn btn-primary m-2 p-2">Finish Editing</a>
    </div>
    <div class="d-flex mx-3">
        <form method="post" class="d-flex">
            {% csrf_token %}
            {{ task_form.as_p }}
            <button class="btn btn-sm btn-primary ms-2" id="add-task" type="submit">Add task</button>
        </form>
    </div>
    {% if tasks %}
        {% if user.is_authenticated %}
        <div class="container">
            {% for task in tasks %}
                <div class="row">
                    <div class="col pe-0">
                        <div class="py-1 ps-5 rounded-start-circle flame orange">
                            <div class="py-1 rounded-start-circle flame yellow">
                                <div class="py-2 rounded-start-circle flame white">
                                    <div class="rounded-start-circle flame blue">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="engine"></div>
                    <div class="col col-lg-6 ps-0">
                        <div class="d-inline-block rounded-end-5 p-2 rocket">
                            <a href="{% url 'edit_task' list_id=list.id task_id=task.id %}" class="btn btn-sm btn-warning">Edit</a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ task.id }}">
                                Delete
                            </button>
                            {{ task.task_description }} 
                        </div>
                    </div>
                    <div class="col d-none d-lg-block"></div>
                </div>
                <br>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ task.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ task.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ task.id }}">Delete task?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this entry? <br> This cannot be undone.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <form method="POST" action="{% url 'task_delete' list_id=list.id task_id=task.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete Task</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% else %}
    <p class="m-3 highlight">No tasks found for this list.</p>
    {% endif %}
{% endblock %}