{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->

<h1>Lunar Lists</h1>
<!-- Display register and login buttons. If already logged in: display nothing -->
{% if not user.is_authenticated %}
<form action="{% url 'account_signup' %}">
    <button type="submit">Create an account</button>
</form>
<form action="{% url 'account_login' %}">
    <button type="submit">Already have an <br> account? Login here</button>
</form>
{% endif %}

<!-- index.html content ends here -->
{% endblock %}