<!-- your_template.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Your saved Lunar Lists</h2>

{% if lists %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">List name</th>
                <th scope="col">Due by</th>
                <th scope="col">Created on (UTC)</th>
            </tr>
        </thead>
        <tbody>
            <!-- iterate through each list belonging to logged in user -->
            {% for list in lists %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ list.list_name }}</td>
                <td>{{ list.due_by }}</td>
                <td>{{ list.created_on }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You don't have any lists yet.</p>
{% endif %}
{% endblock %}