{% extends 'base.html' %}

{% block content %}
<h1>Saved Lunar Lists</h1>

{% if lists %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">List name</th>
                <th scope="col">Due by</th>
                <th scope="col">Created on (UTC)</th>
            </tr>
        </thead>
        <tbody>
            <!-- iterate through each list belonging to logged in user -->
            {% for list in lists %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <!-- <td>{{ list.list_name }}</td> -->
                <td>
                    <a href="{% url 'task_view' list.id %}">{{ list.list_name }}</a>
                </td>
                <td>{{ list.due_by }}</td>
                <td>{{ list.created_on }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You don't have any lists yet.</p>
{% endif %}
<p>In order to view a particular Lunar to-do list, click on its name in the above table.</p>
<details class="m-auto">
    <summary>Create a new lunar list</summary>
    <form method="post">
        {% csrf_token %}
        {{ list_form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Create</button>
    </form>
</details>
{% endblock %}