{% extends 'base.html' %}

{% block content %}
    <h1>{{ list.list_name }}</h1>
    
    {% if tasks %}
        {% for task in tasks %}
            <div class="d-inline-block border border-primary rounded-end-5 p-3 m-3">{{ task.task_description }}</div>
            <br>
        {% endfor %}
    {% else %}
        <p>No tasks found for this list.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'list_delete' list_id=list.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete List</button>
    </form>
    <a href="{% url 'create_task' list_id=list.id %}" class="btn btn-warning">Edit List</a>
    {% endif %}
{% endblock %}
